@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* header start */

.shop_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
}

a {
  text-decoration: none;
  color: black;
}

.header_title:hover {
  cursor: pointer;
}

.header_navbar_item {
  list-style: none;
  font-size: 0.9rem;
}

.header_navbar_item:hover {
  cursor: pointer;
  color: red;
  transition: all 0.5s;
}

.header_login i {
  font-size: 1.3rem;
  margin: 0 10px;
}

.header_login i:hover {
  color: red;
  cursor: pointer;
}

.header_pages_item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_blog_about {
  position: absolute;
  left: 940px;
  top: 90px;
  border-top: 3px solid red;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  padding-right: 60px;
  display: none;
}

.blog:hover + .header_blog_about {
  display: block;
  display: flex;
  flex-direction: column;
}

.header_pages_about {
  position: absolute;
  left: 840px;
  top: 90px;
  border-top: 3px solid red;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  padding-right: 60px;
  display: none;
}

.header_pages_item:hover + .header_pages_about {
  display: block;
  display: flex;
  flex-direction: column;
}

.header_navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* header end */


/* advertising start */

.advertising_first{
  background-image: url(./images/h1_hero1.jpg);
  height: 100vh;
  background-size: cover;
  display: none;
}

.advertising_second{
  background-image: url(./images/h1_hero2.jpg);
  height: 100vh;
  background-size: cover;
  display: none;
}

.btn_left{
  position: absolute;
  top: 400px;
  padding: 40px 20px;
  font-size: 1rem;
  color: white;
  background-color: gray;
  border: none;
}

.btn_right{
  position: absolute;
  top: 400px;
  right: 0;
  padding: 40px 20px;
  font-size: 1rem;
  color: white;
  background-color: gray;
  border: none;
}

.btn_left:hover, .btn_right:hover{
  background-color: black;
  transition: all .5s;
}

.advertising_about_first{
  position: absolute;
  top: 300px;
  left: 150px;
  width: 400px;
  text-align: center;
}

.advertising_about_second{
  position: absolute;
  top: 300px;
  right: 150px;
  width: 400px;
  text-align: center;
}

.title{
  font-size: 3rem;
  color: red;
  font-family: 'Montez', cursive;

}

.desc{
  padding: 20px 0;
  font-size: 2.6rem;
}

.text{
  line-height: 2rem;
  color: gray;
}

.advertising_btn{
  margin-top: 20px;
  padding: 10px 40px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.advertising_btn:hover{
  background: none;
  color: black;
  transition: all .5s;
}

/* advertising end */
